<h1>Welcome to FlatIronBEATS</h1>
<p>We're the music service that could never compete with Spotify.</p>


<iframe src="https://giphy.com/embed/3lxD1O74siiz5FvrJs" width="400" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/3lxD1O74siiz5FvrJs">via GIPHY</a></p>
